@model ProductUpdateVm
<div class="container">
    <div class="row">
        <h2>Update Product</h2>

        <form method="post" enctype="multipart/form-data" >
            <div class="form-group">
                <label for="title">Name</label>
                <input asp-for="Name" class="form-control" id="name=" "" placeholder="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
               <input type="hidden" asp-for="HoverImagePath"/>
                <img src="~/assets/images/website-images/@Model.MainImagePath"width="50" height="50" />
                <label for="MainImage">Main Image</label>
                <input Asp-For="MainImage" class="form-control" id="MainImage" >
                <span class="text-danger" asp-validation-for="MainImage"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="HoverImagePath" />

                <img src="~/assets/images/website-images/@Model.HoverImagePath" width="50" height="50" />
                <label for="HoverImage">Hover Image</label>
                <input Asp-For="HoverImage" class="form-control" id="HoverImage">
                <span class="text-danger" asp-validation-for="HoverImage"></span>
            </div>
            <div class="form-group">
  
                @for (int i = 0; i < Model.AdditionalImagePath.Count; i++)
                    {
                    string imagePath = Model.AdditionalImagePath[i];
                    <div class="imageDiv">

                    <input type="hidden" asp-for="AdditionalImagePath" value="@imagePath" />
                    <input type="hidden" asp-for="AdditionalImageIds" value="@Model.AdditionalImageIds[i]" />
                
                    <div class="image" style="position:relative;width:50px;height:50px;display:inline ">
                        <img src="~/assets/images/website-images/@imagePath" width="50" height="50" />
                        <span style="position:absolute;right: 4px;top:-14px;padding:1px;background-color:red;color:white;font-size:10px;cursor:pointer" class="closeButton">X</span>
                    </div>
                    </div>
                    }
                <label for="Images">Images</label>
                <input Asp-For="Images" class="form-control" id="Images">
                <span class="text-danger" asp-validation-for="Images"></span>
            </div>
            <div class="form-group">
                <label for="Icon">Price</label>
                <input Asp-For="Price" class="form-control" id="Price" placeholder="Price">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label for="CategoryId">CategoryId</label>
                <select asp-for="CategoryId" id="CategoryId">

                    <option value="null" disabled selected>Category secin</option>
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

                </select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group">
                <label for="TagId">Tags</label>
                <select asp-for="TagIds" id="TagId">

                    <option value="null" disabled sel>Tag secin</option>
                    @foreach (Tag tag in ViewBag.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }

                </select>
                <span class="text-danger" asp-validation-for="TagIds"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

                    <script>
    const removeButtons=document.querySelectorAll(".closeButton");
    removeButtons.forEach(btn=>{
        btn.addEventListener("click",(e)=>{
            e.preventDefault();

            btn.parentElement.parentElement.remove();
        })
    })
                    </script>